@import url("../../Core/styles/styles.css");
html, body, #app {
  background: transparent !important;
}

#main[data-position-mode=center] .am-panel {
  height: 600px;
}
#main[data-position-mode=center] .am-panel > div {
  width: 1000px;
  max-width: unset;
}