@import url('../../Core/styles/styles.css');

html, body, #app {
    background: transparent !important;
}

#main {
    // &[data-position-mode="cursor"] {}
    &[data-position-mode="center"] {
        .am-panel {
            width: 100%;
            height: 600px;
        }
        .am-panel>div {
            width: 100%;
            max-width: unset;
        }
    }
}
