@import url('../../Core/styles/styles.css');

#main {
    // &[data-position-mode="cursor"] {}
    &[data-position-mode="center"] {
        .am-panel {
            height: 600px;
        }
        .am-panel>div {
            width: 1000px;
            max-width: unset;
        }
    }
}
