@import url("../../Core/styles/styles.css");
html, body, #app {
  background: transparent !important;
}

#main[data-position-mode=center] .am-panel {
  width: 100%;
  height: 600px;
}
#main[data-position-mode=center] .am-panel > div {
  width: 100%;
  max-width: unset;
}
#main[data-position-mode=center] .am-panel > div.am-pin {
  width: 24px;
  right: 6px;
}