/* -------------------------------- 多级菜单 ---------------------------- */

/** 基本样式
 * - am-context-menu.root-menu
 *   - li.has-children
 *     - content
 *     - am-context-menu.sub-menu (并嵌套)
 */
.am-context-menu {
  // 显示/隐藏 (跨平台问题)
  // ~~app 版恒显示 :not(#main > .am-context-menu)~~
  &:not(.visible) {
    display: none;
  }
  &.sub-menu:not(.visible) {
    display: none;
  }

  box-sizing: border-box;
  position: fixed;
  left: 0; // override by js
  top: 32px; // override by js
  margin: 0;
  min-width: 180px;

  // 多列布局。一列满了再下一列，如果想平均分布则用 columns 而非这个
  display: grid;
  grid-auto-flow: column; // 横向排列
  grid-template-rows: repeat(8, auto); // 每列最多n个
  gap: 0 0;

  color: var(--ab-tab-root-tx-color);
  background-color: var(--ab-menu-bg-color);
  border: 1px solid var(--ab-tab-root-bd-color);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  list-style: none;
  padding: 4px;

  // 多级菜单的菜单项
  counter-reset: alt-index 0;
  // >ul, >li, >div, >span, >button, >input {
  .am-context-menu-item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-width: 180px;
    min-height: 28px; // (20+8+0)
    margin: 0;
    padding: 4px 12px;
    line-height: 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    .left {
      margin-right: 10px;
    }

    // 悬浮和虚拟聚焦
    &:hover {
      background-color: var(--ab-tab-root-hv-color);
    }
    &.focus-active {
      background-color: var(--am-bright-color) !important; // 优先于 :hover
      color: #ffffff;
    }

    // Alt+Key 快捷键提示
    &::after {
      counter-increment: alt-index 1;
      content: attr(data-altkey); // counter(alt-index);
      display: none;
      position: absolute;
      right: 28px;
      top: 6px;
      font-size: 12px;
      color: var(--ab-tab-root-tx-color);
      opacity: 0.6;
      color: #ffffff;
    }

    // 带子类嵌套处理
    &.has-children {
      &::before { // 展开图标
        content: "▶";
        float: right;
        font-size: 12px;
        margin-top: 2px;
      }
      >.am-context-menu.sub-menu {
        position: absolute;
        top: -4px; // 原 -4px; 为 ul padding，下移是为了项过多时项换列后，能更好地右移，而不是被子菜单或tooltip遮挡
        left: calc(0px + 100%); // 给点偏移美观点，但鼠标移动极慢时会失焦
      }
    }
  }
  // input {
  //   padding: 4px 4px;
  //   border: none;
  //   border-bottom: solid 1px var(--ab-tab-root-bd-color);
  //   outline: none;
  //   background: none;
  //   color: currentColor;
  // }
}

// 可视化效果渲染
.ab-contextmenu-tooltip {
  position: fixed;
  z-index: 9999;
  background: var(--background-secondary);
  padding: 8px;
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-high);
  max-width: 400px;
  min-width: 200px;
}
