/** 标题栏 */

#main>.am-panel {
  .am-titlebar {
    -webkit-app-region: drag; // 允许在桌面应用环境中，使用按钮拖动窗口
  }
}

.am-titlebar {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
  height: 30px;
  padding-right: 3px;
  background: var(--am-bg-color);
  color: var(--am-text-color);
  border-radius: 10px;

  button.am-titlebar-btn {
    position: relative;
    height: 29px;
    background: none;
    // color: var(--am-text-color);
    color: var(--ab-tab-root-tx-color);
    padding: 0 9px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background: var(--ab-tab-root-hv-color);
    }

    &.active {
      background: var(--ab-tab-root-hv-color);
    }
  }

  .am-titlebar-manager .am-titlebar-list {
    position: absolute;
    width: 150px;
    top: calc(100% + 1px);
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;

    z-index: 102; // 要大于 serach 栏
    border-radius: 10px;
    background: var(--am-bg-color);
    color: var(--am-text-color);
    border: solid 1px var(--am-bd-color);

    >div {
      padding: 6px 16px;
      border-radius: 8px;
      text-align: left;

      // 溢出显示 `...`
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background: var(--ab-tab-root-hv-color);
      }
    }
  }
}
