/**
 * 使用 vscode 插件自动将 scss 转换为 css，请勿直接编辑 css 文件
 */

// @use "./EditableBlock.scss";
@use "../node_modules/@editableblock/core/styles/EditableBlock.scss";
@use "./am_search.scss";
@use "./am_context_menu.scss";
@use "./am_toolbar.scss";

.editable-codeblock-p {
  margin: 1px;
  max-width: 100%;
  max-height: 100%;
}

// #region color var

:root {
  --am-bright-color: #23A8F2;
  --am-text-color: #f6f6f6;
  --am-background-color: #2f2f2f;
  color: var(--am-text-color);
  background-color: var(--am-background-color);
}
@media (prefers-color-scheme: light) { // 系统颜色
  :root {
    --am-text-color: #1E1E1E; // #0f0f0f;
    --am-background-color: #f6f6f6;
  }
}

:root {
  --ab-tab-root-bg-color: #0d1117;  // #ffffff;
  --ab-tab-root-bd-color: #34343f;  // #e0e0e0;
  --ab-tab-root-hv-color: #363639;  // #D7D7D7 hover
  --ab-tab-root-tx-color: #9e9e9e;  // blackc

  --ab-bright-color: orange;        // lightgoldenrodyellow、yellowgreen
  --pre-background-color: #1b1b1b;  // rgb(36,36,36)

  --ab-table-border-width: 1px;
  --ab-table-border-color: #363636;

  --ab-width-inner: 100%;
  --ab-width-outer: 100%;

  --ab-menu-bg-color: #1B1B1B;
  --ab-menu-text-color: #CCCCCC;
}
@media (prefers-color-scheme: light) {
  :root {
    --ab-tab-root-bg-color: #ffffff;  // #ffffff;
    --ab-tab-root-bd-color: #e0e0e0;  // #e0e0e0;
    --ab-tab-root-hv-color: #d7d7d7;  // #D7D7D7 hover
    --ab-tab-root-tx-color: #5c5c5c;  // blackc

    --pre-background-color: #f2f2f2;

    --ab-menu-bg-color: #ffffff;
    --ab-menu-text-color: black;
  }
}

// color: #f6f6f6;
// background-color: #2f2f2f;

// #endregion

html, body, #main, #am-config {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html, body, #main {
  background: transparent !important;
}

#main {
  position: relative;

  /* 透明区域不接收鼠标事件 */
  pointer-events: none;
  /* 这个区域可以接收鼠标事件 */
  > * {
    pointer-events: auto;
  }

  // 置顶按钮 (debug模式下才显示)
  >button {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    bottom: 5px;
    left: 0px;
    height: 26px;

    padding: 0 !important;
    z-index: 1;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    color: var(--am-text-color);

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &.active>svg {
      stroke: var(--am-bright-color);
    }
  }

  >.btn-1 {
    bottom: 5px;
    width: 34px;
  }
  >.btn-2 {
    bottom: 50px;
  }
}

/* -------------------------------- 总菜单面板 (组合基) ------------------ */

// 多级菜单的菜单项 - altkey 显示控制
.show-altkey {
  >.am-context-menu .am-context-menu-item {
    &::after {
      display: block !important;
    }
  }

  >.am-search>.am-search-suggestion>div.item {
    &::after {
      display: block !important;
    }
  }
}

/* -------------------------------- 快速编辑器 --------------------------- */
.am-mini-editor {
  box-sizing: border-box;
  position: fixed;
  left: 0; // override by js
  top: 280px; // override by js
  margin: 0;
  padding: 0;
  width: 700px;
  height: 250px;

  color: var(--ab-tab-root-tx-color);
  background-color: var(--ab-menu-bg-color);
  z-index: 10;
  flex-direction: column;

  >.editableblock-cm {
    height: 100%;
    .cm-editor {
      height: 100%;
    }
  }

  >.am-mini-editor-buttons {
    margin: 2px 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 4px;

    >button {
      height: 24px;
      font-size: 14px;
      padding: 0 12px;
      opacity: 0.85;
      border-radius: 10px;
    }
  }
}

/* -------------------------------- 配置页面 ----------------------------- */
.tab-root-parent { // 不一定有
  padding: 0px !important;
}
.tab-root {
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: var(--ab-tab-root-bg-color);
  color: var(--ab-tab-root-tx-color);

  * {
    box-sizing: border-box;
  }

  // nav
  .tab-nav-container {
    display: flex;
    height: 32px;
    line-height: 32px;
    background-color: var(--ab-tab-root-bd-color);

    >div {
      display: inline-block;
      padding: 0 12px;
      cursor: pointer;

      background-color: var(--ab-tab-root-bd-color);
      &.active {
        border-bottom: none;
        background-color: var(--ab-tab-root-bg-color);
      }
    }
  }
  .tab-content-container {
    position: absolute;
    top: 32px; // .tab-nav height
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ab-tab-root-bg-color);
    color: var(--ab-tab-root-tx-color);

    // 标签页正文内容
    >div {
      width: 100%;
      height: 100%;
      overflow: auto;

      padding: 8px;
      white-space: pre-wrap;
      background-color: var(--ab-tab-root-bg-color);

      display: none;
      &.active {
        display: block;
      }
    }
  }

  // nav-radius
  .tab-nav-container>div {
    border-radius: 6px 6px 0 0;
    &:first-child {
      border-radius: 0 6px 0 0;
    }
  }

  // textarea页 (toml editor)
  div:has(>textarea) { // textarea parent
    position: relative;
    textarea {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;

      font-family: monospace;
      font-size: 14px;
      line-height: 20px;
      padding: 8px;
      // border: 1px solid var(--ab-tab-root-bd-color);
      // border-radius: 4px;  
      background-color: var(--pre-background-color);
      color: var(--am-text-color);
      resize: none;
      border: none;
      border-radius: 8px;
      outline: none;
      box-shadow: none;
    }
    textarea.no-save {
      padding-left: 7px;
      border-left: 1px solid orange;
    }
    textarea.error-save {
      padding-left: 7px;
      border-left: 1px solid red;
    }
  }

  button {
    position: absolute;
    height: 28px;
    right: 16px;
    bottom: 16px;
    padding: 0 18px;
    opacity: 0.85;
  }

  details {
    white-space: normal;
  }
}

.dict-table {
  overflow-x: auto;
  width: 100%;
  tbody {
    overflow-y: auto;
    tr>td {
      white-space: pre;
    }
    tr>td.btn {
      padding: 0 10px;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;

      background-color: gray;
      color: white;
      &[color="green"] {
        background-color: #67C23A;
        color: white;
      }
      &[color="red"] {
        background-color: #F56C6C;
        color: white;
      }
      &[color="blue"] {
        background-color: #409EFF;
        color: white;
      }
    }
  }
}

/* -------------------------------- 黑暗主题滚动条样式 -------------------- */

@media (prefers-color-scheme: dark) {
  /* 适用于 Webkit 内核的浏览器 (Chrome, Safari, Edge 等) */
  ::-webkit-scrollbar {
    width: 12px; /* 滚动条整体宽度 */
    height: 12px; /* 对于水平滚动条的高度 */
  }

  ::-webkit-scrollbar-track {
    background: #202324; /* 滚动条轨道背景色 */
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4a4d4f; /* 滚动条滑块颜色 */
    border-radius: 6px; /* 滑块圆角 */
    border: 3px solid #202324; /* 在滑块周围创建边框，看起来像内边距 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #5a5e60; /* 鼠标悬停时滑块的颜色 */
  }
}

/* -------------------------------- Obsidian 专用 ----------------------- */

.am-ob-setting-btn { // 也会受到 .tab-root button 影响
  z-index: 4;
  left: 16px !important;
  right: auto !important;
}

/* -------------------------------- 默认 ------------------------------- */

// 用 am-hide 代替 display: none 与恢复，避免不知道恢复成 block or table or grid 等
.am-hide {
  display: none !important;
}

// 用来表示 innerHTML 的情况
// 自动换行 + 忽略 `\n` 便于 html 标签排版
.am-inner-html {
  white-space: normal !important;
}

#main, #am-config {
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  h1 {
    text-align: center;
  }

  // input,
  // button {
  //   // border-radius: 8px;
  //   // border: 1px solid transparent;
  //   // padding: 0 1.2em;
  //   // font-size: 1em;
  //   // font-weight: 500;
  //   // font-family: inherit;
  //   // color: var(--am-text-color);
  //   // background-color: var(--am-background-color);
  //   // transition: border-color 0.25s;
  //   // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  // }

  button {
    cursor: pointer;
  }

  button:hover {
    border-color: #396cd8;
  }
  button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
  }

  // 黑暗模式
  @media (prefers-color-scheme: dark) {

    a:hover {
      color: #24c8db;
    }

    button:active {
      background-color: #0f0f0f69;
    }
  }
}

/* -------------------------------- 默认并废弃 --------------------------- */

#default_old {
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  .logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
  }

  .logo.typescript:hover {
    filter: drop-shadow(0 0 2em #2d79c7);
  }

  .container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
  }

  .logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
  }

  .row {
    display: flex;
    justify-content: center;
  }

  input,
  button {
    outline: none;
  }

  #greet-input {
    margin-right: 5px;
  }
}
