.am-toolbar {
  box-sizing: border-box;
  position: fixed;
  left: 0; // override by js
  top: 32px; // override by js
  margin: 0;
  height: 32px;
  width: auto;
  min-width: 200px;

  color: var(--ab-tab-root-tx-color);
  background-color: var(--ab-menu-bg-color);
  border-radius: 8px;
  border: 1px solid var(--ab-tab-root-bd-color);

  // 单行 or 多行
  .am-toolbar-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    height: 100%;
    line-height: 32px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: var(--ab-menu-hover-bg-color);
    }
  }
}
