/** browser 环境专用样式 */

:root.am-theme-light {
  background: none !important;
}
:root {
  background: #2a2932 !important;
}

#main.browser-app {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .am-browser-debug-textarea {
    resize: vertical;
    height: 300px;
    padding: 10px;
    font-size: 17px;
  }

  .am-browser-debug-btn {
    height: 34px;
    margin-top: 20px;
    background: var(--am-bg-color);
    color: var(--am-text-color);
    border: solid 1px var(--am-bg-color);
    outline: none;
    box-shadow: none;
  }

  .am-config {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .am-browser-debug-textarea,
  .am-browser-debug-btn,
  .am-config {
    border-radius: 10px;

    /* 模拟窗口样式 */
    outline: solid 1px #ffffff44;
    box-shadow: 8px 8px 6px var(--am-bg-color);
  }
}
